.cart_wrapper {
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 70px;
  gap: 2em;
}

@media (max-width: 818px) {
  .cart_wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
  }
}



.desc {
  display: flex;
  justify-content: space-between;
  font-size: 8px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 2em;
  padding: 30px;
}
