.checkout_section {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 30px;
  flex-wrap: wrap;
  gap: 2rem;
}

.checkout_section h1,
h2 {
  font-size: 26px;
  color: black;
}

.checkout_section .checkout_form {
  background-color: #fff;
  padding: 30px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.189);
  border-radius: 12px;
  width: 600px;
}

.checkout_section .checkout_form .formflex {
  display: flex;
  justify-content: space-evenly;
}

.checkout_section .checkout_cart {
  background-color: #fff;
  display: flex;
  width: 400px;
  gap: 2em;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid rgb(253, 253, 253);
  flex-direction: column;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.189);
}

.checkout_cart h1 {
  color: #303030;
}

.teks {
  display: block;
}

.checkout_section .checkout_cart .checkout_cart_item {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 12px;
}

.checkout_section .checkout_cart .checkout_cart_item span {
  font-size: 20px;
  color: #303030;
}

.checkout_section .checkout_cart .checkout_cart_item h2 {
  color: #303030;
  padding: 6px;
  font-size: 10px;
}

.checkout_section .checkout_cart .checkout_cart_item img {
  width: 80px;
  height: auto;
}

.subtotal {
  border-top: 3px solid #303030;
  background-color: #fff;
  border-radius: 12px;
  margin-top: 29px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
