.fav_container {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

.card {
  margin: auto;
  display: block;
  margin-top: 30px;
}
