.fav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  text-align: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 60px;
}

.fav_list .fav_item {
  max-width: 600px;
}

.fav_list .fav_item img {
  width: 100%;
}
