.mainpage {
  display: flex;
  gap: 6em;
  background-color: #1a1719;
}

.mainpage_sidebar {
  max-width: 280px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #1a1719;
}

.mainpage_sidebar .sidebar_list {
  display: flex;
  flex-direction: column;
}

.mainpage_sidebar .sidebar_list .line_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.mainpage_sidebar .sidebar_list .line_div hr {
  width: 60px;
}

.mainpage_sidebar .sidebar_list .line_div p {
  text-align: center;
  color: #fff;
}

.mainpage_sidebar .sidebar_list .item_sidebar {
  width: 100%;
}

.mainpage_sidebar .sidebar_list .item_sidebar img {
  width: 100%;
  height: auto;
}

.mainpage_hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10em;
  font-size: 24px;
}

.mainpage_hero .text {
  color: #fff;
  padding: 20px;
}
.mainpage_hero .text p {
  margin-top: 28px;
  color: grey;
}

.mainpage_hero .text a {
  text-decoration: none;
  color: #fff;
}

.actions_hero {
  display: flex;
  margin-top: 60px;
}

.actions_hero .btn1 {
  background-color: #0ce2c0;
  border: none;
  padding: 26px 60px;
  color: #141213 !important;
  cursor: pointer;
}
.actions_hero .btn1:hover {
  transition: 0.3s;
  box-shadow: 0 3px 6px #0ce2c0;
}

.actions_hero .btn2 {
  background-color: #141213;
  cursor: pointer;
  border: none;
  color: #fff;
  padding: 26px 60px;
}
.actions_hero .btn2:hover {
  transition: 0.3s;
  box-shadow: 0 3px 6px #0ce2c0;
}

.text hr {
  margin-top: 100px;
  width: 80px;
  float: right;
}

.hero_image img {
  height: auto;
}

@media (max-width: 1280px) {
  .mainpage_hero {
    grid-template-columns: repeat(1, 1fr);
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .mainpage {
    flex-direction: column;
  }

  .mainpage_sidebar .sidebar_list {
    flex-direction: row;
  }

  .mainpage_sidebar {
    max-width: 1000px;
  }
}

.after_hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 80px;
  gap: 2em;
}

.after_hero .itemIcon {
  box-shadow: 0 2px 12px #141213;
  text-align: center;
  background-color: #fff;
  color: #1a1719;
}

.after_hero .itemIcon img {
  width: 70%;
}

.after_hero .itemIcon:hover {
  box-shadow: 0 2px 12px #0ce2c0;
  transition: 0.4s;
}

.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  background-color: #141213;
  color: #fff;
  font-size: 20px;
}

.newsletter a {
  background-color: #0ce2c0;
  border: none;
  padding: 26px 60px;
  cursor: pointer;
  text-decoration: none;
  color: #141213;
}

.newsletter a:hover {
  transition: 0.3s;
  box-shadow: 0 3px 6px #0ce2c0;
}
