body {
  background-color: #fff;
}

.mainpage {
  background-image: linear-gradient(#1a1a1bb3, #00000096),
    url("../assets/fashion.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.mainpage .text {
  margin: auto;
}

.mainpage .text h1 {
  font-size: 4rem;
  padding-bottom: 16px;
  color: #fff;
}

.mainpage .text p {
  font-size: 1.3rem;
  color: #fff;
  padding-bottom: 16px;
}

.mainpage .text h1 {
  font-size: 4rem;
  padding-bottom: 16px;
}

.mainpage .ch {
  color: #088371;
}

.after_hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  padding-bottom: 60px;
  padding-top: 60px;
}

.after_hero .item {
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 10px rgba(220, 220, 220, 0.484);
  border: 2px solid #fff;
  display: block;
  text-align: center;
}

.after_hero .item img {
  width: 80%;
  height: auto;
}

.after_hero .item h1 {
  padding: 12px;
  background-color: #303030;
  border-radius: 4px;
  font-size: 20px;
  color: #fff;
}

.productSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.productSection h1 {
  font-size: 3rem;
  text-align: center;
}

.productSection p {
  font-size: 1.7rem;
  color: gray;
}

.productSection .productList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  gap: 2em;
}

.productSection .productItem {
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.productSection .productItem img {
  width: 400px;
  border-radius: 40px;
  height: auto;
}

.productSection .productItem h1 {
  font-size: 1.7rem;
}
.productSection .productItem p {
  font-size: 1.2rem;
}
.productSection .productItem a {
  background-color: #088371;
  width: 20%;
  border-radius: 60px;
  cursor: pointer;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.newsletter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 60px;
  background-color: #088371;
  color: #fff;
}

.newsletter h1 {
  color: #fff;
  font-size: 44px;
}

.newsletter p {
  color: rgb(227, 222, 222);
  font-size: 20px;
}

@media (max-width: 425px) {
  .mainpage .text {
    margin: auto !important;
    padding: 20px;
  }
}
@media (max-width: 325px) {
  .mainpage .text h1 {
    font-size: 3rem;
  }

  .newsletter {
    padding: 30px;
  }
}
