.main_navigation {
  background-color: #fff;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  height: 7rem;
  z-index: 20;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.main_navigation .btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  display: none;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .main_navigation .btn {
    display: block;
  }

  .main_navigation img {
    display: none;
  }
  .nav {
    display: none;
  }
}
