.menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: baseline;
  justify-content: space-around;
}
.menu li {
  margin-left: 20px;
}

.menu li a {
  text-decoration: none;
  color: #303030;
  font-weight: 600;
  font-size: 20px;
}

.menu_links {
  display: flex;
  gap: 2em;
}

.hide {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(246, 246, 246);
  color: transparent;
  border-radius: 20px;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.bar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
}

.bar svg {
  font-size: 26px;
}

.bar span {
  background-color: #222222;
  border-radius: 60px;
  height: 10px;
  padding: 8px;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #fff;
  position: relative;
  bottom: 10px;
}

@media (max-width: 846px) {
  .cart_bar svg {
    font-size: 26px;
    color: #fff;
  }

  .menu {
    flex-direction: column;
    gap: 3rem;
    margin-right: 60px;
  }

  .menu li a {
    text-decoration: none;
    color: #303030;
    font-weight: 600;
  }
}
