.menu {
  list-style: none;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: space-around;
}

.menu li a {
  text-decoration: none;
  color: #314657;
  font-weight: 600;
}

.menu a:hover,
.menu a:active,
.menu a.active {
  transition: 0.3s;
  color: #cca152;
}

.menu_links {
  display: flex;
  gap: 2em;
}

.cart_bar {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.cart_bar svg {
  font-size: 26px;
}

.cart_bar span {
  background-color: #314657;
  border-radius: 60px;
  height: 10px;
  padding: 6px;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #fff;
  position: relative;
  bottom: 10px;
}

@media (max-width: 846px) {
  .cart_bar svg {
    font-size: 26px;
    color: #fff;
  }

  .menu {
    flex-direction: column;
    margin-top: 30vh;
  }

  .menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }
}
