.side-drawer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 70%;
  background: #363637;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  overflow-y: scroll;
}

.side-drawer img {
  background-color: #fff;
  margin: auto;
  display: block;
  margin-top: 40px;
  width: 200px;
}
