.cart_item {
  box-shadow: 0 2px 4px #0ce2c0;
  position: relative;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  margin: auto;
  max-width: 800px;
  border-radius: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.cart_item img {
  width: 40%;
  height: auto;
  border-radius: 20px;
}
.cart_item .cart_item_description {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.cart_item .cart_item_description h1 {
  color: #222222;
}

.cart_item .cart_item_description p {
  color: #303030;
}

.sp {
  position: relative;
  top: 30px;
}

.cart_item .size {
  border: 1px solid rgb(29, 103, 103);
  padding: 12px;
  color: #303030;
  font-weight: bold;
}

.cart_item .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.cart_item .actions button {
  padding: 20px;
  background-color: #222222;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 1057px) {
  .cart_item {
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .cart_item img {
    width: 100%;
  }

  .cart_item {
    padding: 20px;
  }
}
