.fav_wrapper {
  margin: auto;
  max-width: 800px;
  margin-top: 30px;
}

.fav_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-bottom: 2px solid #303030;
  padding-bottom: 20px;
}

.fav_item img {
  width: 100px;
  object-fit: cover;
  height: auto;
}

.fav_item .fav_item_description h1 {
  font-size: 20px;
  color: #303030;
}

.fav_item .fav_item_description p {
  font-size: 14px;
  color: #303030;
}

.fav_item .fav_actions button {
  padding: 16px;
}
