.admin_wrapper {
  display: flex;
  background: linear-gradient(
    to top right,
    rgb(180, 250, 242),
    rgb(191, 211, 248)
  );
}

.item {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 33px;
}

.admin__center {
  background-color: #fff;
  margin: auto;
  overflow: hidden;
}
.admin__center h1 {
  color: #202423;
  font-style: italic;
}

.admin__center .product_list {
  display: grid;
  padding: 20px;
  gap: 2em;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1467px) {
  .admin__center .product_list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.admin__center .users_list {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  padding: 20px;
  margin: auto;
  justify-content: center;
  align-items: cente;
}

.admin__center .users_list .user_item {
  background-color: #fff;
  color: #303030;
  margin: 20px;
  padding: 20px;
  display: flex;
  box-shadow: 9px 9px 20px #5854544c;
  align-items: center;
  gap: 33px;
  border-radius: 30px;
  width: 300px;
}

.admin__center .users_list .user_item:hover {
  background-color: #54b898;
  transition: 0.3s;
  cursor: pointer;
}

.admin__center .users_list .user_item h1 {
  font-size: 18px;
}

.admin__center .orders_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 2em;
  max-width: 800px;
  margin: auto;
}

@media (max-width: 727px) {
  .admin__center .orders_section {
    grid-template-columns: repeat(1, 1fr);
  }
}

.admin__center .orders_section .ordered_item {
  display: flex;
}

.admin__center .orders_section .ordered_item .desc {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.admin__center .orders_section img {
  width: 100%;
  height: auto;
}

.orders_section .naslovi {
  display: flex;
  width: fit-content;
  padding: 20px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 30px;
  border: 2px solid rgb(239, 233, 233);
  box-shadow: 9px 9px 20px #5854544c;
}

.orders_section .naslovi:hover {
  box-shadow: 2px 2px 2px 2px rgb(100, 214, 210);
  transition: 0.7s;
}

.orders_section .naslovi p {
  color: #303030;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.orders_section .product_info {
  border-top: 6px solid rgb(112, 108, 108);
}

.orders_section .product_info img {
  width: 30%;
}
