.form_card {
  margin: auto;
  margin-top: 100px;
  box-shadow: 0 2px 6px #fff;
}

.form_div {
  background-size: cover;
}

.switchbtn {
  text-decoration: none;
  cursor: pointer;
  text-decoration: dotted;
  color: #333;
  margin-left: 20px;
}
