.form_card {
  margin: auto;
  margin-top: 20px;
}

.form_div {
  background-size: cover;
}

.switchbtn {
  text-decoration: none;
  cursor: pointer;
  text-decoration: dotted;
  color: #333;
  margin-left: 20px;
}
