body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.main {
  margin-top: 2rem;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create_form {
  margin: 0 auto;
  max-width: 600px;
  background-color: #fff;
  padding: 30px;
  overflow: hidden;
  border-radius: 12px;
  margin-top: 2rem;
}

.btns {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.checkspan {
  color: #034efd;
  font-weight: bold;
  font-size: 16px;
}

.flex {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin: 2rem;
}

.prod_banner {
  background-image: linear-gradient(#54545cb3, #0f0f0f96),
    url("./shared/assets/AMB.png");
  background-size: cover;
  width: 100%;
  height: 44rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
  color: #fff;
}

.products_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
  flex-wrap: wrap;
}

.products_wrapper .actions {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
