body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1719;
  /* background: linear-gradient(
    to top right,
    rgb(229, 244, 244),
    rgb(192, 246, 228)
  ); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.main {
  margin-top: 2rem;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.checkspan {
  color: #034efd;
  font-weight: bold;
  font-size: 16px;
}

.flex {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin: 2rem;
}

.products_container {
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.products_container .filters {
  background-color: #fff;
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px #0ce2c0;
}

.products_container .filters .category {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.products_container .filters .category button {
  background-color: #141213;
  border: none;
  padding: 16px 60px;
  color: #fff !important;
  font-size: 18px;
  cursor: pointer;
}
.products_container .filters .category button:hover {
  transition: 0.3s;
  box-shadow: 0 3px 6px #333;
}
.products_container .filters .sort button {
  background-color: #141213;
  border: none;
  padding: 16px 60px;
  color: #fff !important;
  font-size: 18px;
  cursor: pointer;
}
.products_container .filters .sort button:hover {
  transition: 0.3s;
  box-shadow: 0 3px 6px #333;
}
