.product_details_container {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  margin: 40px;
  padding: 20px;
  border-radius: 20px;
}
@media (max-width: 934px) {
  .product_details_container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 425px) {
  .product_details_container {
    margin: 0;
  }
}

.product_details_image img {
  width: 100%;
  height: auto;
}

.product_details_content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.content_top h1 {
  font-size: 40px;
  text-transform: uppercase;
}

.content_top span {
  font-style: italic;
  font-size: 22px;
  color: #3eae8c;
  font-weight: 600;
  text-transform: uppercase;
}

.content_top p {
  color: grey;
  font-weight: 600;
  font-size: 20px;
  word-wrap: break-word;
}

.content_mid {
  display: flex;
  gap: 2em;
  align-items: center;
}

.content_mid select {
  height: 20px;
}

.content_mid > h1 {
  color: #303030;
}

.content_bottom {
  display: flex;
  align-items: center;
  gap: 2em;
}

.stc-red {
  color: red;
}

.stc-green {
  color: green;
}
