.item {
  max-width: 300px;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  word-break: break-word;
  background-color: #fff;
  padding: 2em;
  animation: ctg 1s linear;
  box-shadow: 0 2px 2px #fff;
}

.item:hover {
  transition: all 0.7s ease;
  transform: translateY(-10px);
}

.item .item__image img {
  width: 100%;
  height: auto;
}

.item .item__text h1 {
  color: #303030;
  font-size: 24px;
}

.item .item__text p {
  color: #333;
  font-weight: bold;
  text-align: center;
}

.item .item__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}
.item .item__footer span {
  font-size: 20px;
  color: #303030 !important;
  font-weight: bold;
}
