.button {
  padding: 1em 3em;
  border: none;
  border-radius: 12px;
  background-color: #314657;
  color: #fff !important;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: #395e7d;
  transition: 0.3s;
  color: #fff !important;
}

.button--action {
  background: #067804 !important;
  color: #ffff !important;
}

.button--action:hover,
.button--action:active {
  background: #0e8f34 !important;
  color: #fff !important;
}

.button--inverse {
  background: transparent;
  border: 1.2px solid #314657 !important;
  color: #cca152 !important;
}

.button--inverse:hover,
.button--inverse:active {
  color: #fff !important;
  background: #314657 !important;
}

.button--danger {
  background: #830000 !important;
  border-color: #830000 !important;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343 !important;
  border-color: #f34343 !important;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}
