.footer_list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4em;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 40px;
  background-color: #263136;
}

.footer_list h3 {
  color: #fff !important;
}

.footer_list img {
  width: 200px;
}

.footer_list .footer_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer_item p {
  font-size: 18px;
  color: #fff;
}

.footer_list .footer_item ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  align-items: flex-start;
}

.footer_list .footer_item ul a {
  color: #fff;
  text-decoration: none;
}

.footer_list .footer_img {
  max-width: 800px;
  font-size: 18px;
}

.footer_list .footer_img p {
  color: #fff;
  line-height: 36px;
}

.footer_list .footer_item .icons {
  display: flex;
  gap: 1em;
}

.icons a {
  background-color: #0ce2c0;
  color: #263136;
  padding: 10px;
  font-size: 20px;
}
